<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>

  <!-- Production Version of Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
</head>
<body>
  <div id="app">
    <h3>Displaying plain text</h3>
    {{ message }}
  </div>

  <div id="app-2">
    <h3>Displaying bind text</h3>
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <h3>Modifying object visibility</h3>
    <p><span v-if="seen">Now you see me</span></p>
    <button v-on:click="hideText"> {{ message }} </button>
  </div>

  <div id="app-4">
    <h3>Displaying lists</h3>
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <h3>Reversing text</h3>
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <h3>Accepting user input</h3>
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <h3>Using Vue Components</h3>
    <ol>
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>

  <script src="js/main.js"></script>
</body>
</html>